@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  background-color: rgb(31, 41, 55);
  font-family: 'montserrat';
}

@layer utilities {
  @media (max-width: 1023px){
    .projDes {
      background-color: rgb(112, 128, 144, 0.5);
    }
  }
}

.transition-transform {
  transition-property: transform;
}

.transform-gpu {
  transform: translateZ(0);
}

.icons{
  width: 5vw;
  padding-top: 1rem;
}

.picture{
  width: 26vw;
}

  @media (max-width: 1023px){
    .icons {
      width: 10vw;
    }
    .picture{
      width: 55vw;
      margin-top: 3rem;
    }

  }





